<html>

<head>
    <title>
    	Chatbot Henk
    </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
<div>
	<h1>Chatbot Henk!</h1>
	<img src="/images/henk.png">
	<button>Click and talk to Henk</button>
          <p>You said: <em class="output-you">...</em></p>
          <p>Henk replied: <em class="output-bot">...</em></p>
      </div>

    <!-- socket.io -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>